    {{define "navbar"}}

    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm border-bottom">
        <div class="container">
            <a class="navbar-brand fw-bold text-success" href="/">
                SIPACAR
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav me-auto">
                    
                    <li class="nav-item">
                        <a  class="nav-link {{if eq .ActivePage "dashboard"}}menu-active{{end}}"
                            href="/">
                            Dashboard
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle
                            {{if or (eq .ActivePage "barang") (eq .ActivePage "kategori")}}
                            menu-active
                            {{end}}" 
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown">
                            Master Data
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a  class="dropdown-item {{if eq .ActivePage "barang"}}menu-active{{end}}"
                                    href="/barang">
                                    Data Barang
                                </a>
                            </li>

                            <li>
                                <a  class="dropdown-item {{if eq .ActivePage "kategori"}}menu-active{{end}}"
                                    href="/kategori">
                                    Kategori
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle
                            {{if or (eq .ActivePage "barang-masuk") (eq .ActivePage "barang-keluar")}}
                            menu-active
                            {{end}}"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown">
                            Transaksi
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a  class="dropdown-item {{if eq .ActivePage "barang-masuk"}}menu-active{{end}}"
                                    href="/barang-masuk">
                                    Barang Masuk
                                </a>
                            </li>

                            <li>
                                <a  class="dropdown-item {{if eq .ActivePage "barang-keluar"}}menu-active{{end}}"
                                    href="/barang-keluar">
                                    Barang Keluar
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown">
                             Laporan
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a  class="dropdown-item"
                                    href="/export/barang">
                                     Unduh Excel
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

                {{if .User}}
                    <div class="dropdown">
                        <a  class="btn btn-outline-success btn-sm px-3 fw-bold dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown">
                            {{.User.Username}}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item"
                                href="/profil">
                                    Profil
                                </a>
                            </li>

                            {{if eq .User.Role "super_administrator"}}
                                <li>
                                    <a class="dropdown-item"
                                    href="/log-kegiatan">
                                        Log Kegiatan
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                    href="/kelola-user">
                                        Kelola User
                                    </a>
                                </li>
                            {{end}}

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item fw-bold text-danger"
                                href="/logout">
                                    Logout
                                </a>
                            </li>

                        </ul>
                    </div>
                {{else}}
                    <a  class="btn btn-outline-success btn-sm px-3 fw-bold"
                        href="/login">
                        Login
                    </a>
                {{end}}

            </div>

        </div>
    </nav>

    {{end}}