body {
    background-color: #eef6ef;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.modal-content{
    border:none;
    border-radius:15px;
}
.modal-header{
    border-bottom:none;
}

.modal-footer{
    border-top:none;
}

.modal-body{
    padding-top:0;
}

.navbar{
    min-height: 70px;
}

.navbar-brand{
    font-size: 1.35rem;
}

.nav-link{
    font-weight: 500;
}

.nav-link:hover{
    color: #198754 !important;
}

.dropdown-item:hover{
    background: #eef6ef;
}

.menu-active{
    color: #198754 !important;
    background: #eef6ef;
    border-radius: 8px;
    font-weight: 600;
    padding: 8px 14px !important;
    transition: .2s;
}

.dropdown-item.menu-active{
    background:#eef6ef;
    color:#198754 !important;
    font-weight: 600;
}