<!DOCTYPE html>
<html>
    <head>
        <title>Barang Masuk</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet">
        
        <style>
            body {
                background-color: #eef6ef;
            }
            .card{
                border:none;
                border-radius:12px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
            }
        </style>
    </head>
    
    <body>

        <div class="container mt-4">
            <div class="mb-3">
                <a  href="/"
                    class="btn btn-secondary">
                ← Kembali
                </a>
            </div>

            <div class="card shadow">
                <div class="card-body">
                    
                    <div class="mb-4">

                        <h1 class="fw-bold mb-1">
                            Barang Masuk
                        </h1>

                        <p class="text-muted mb-0">
                            Pencatatan transaksi barang masuk
                        </p>

                    </div>
                    
                    <form method="POST">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">
                                    Kode Barang
                                </label>

                                <select 
                                    id="barangSelect"
                                    name="barang_id"
                                    class="form-select">

                                    {{range .BarangList}}

                                    <option value="{{.ID}}"
                                            data-nama="{{.Nama}}"
                                            data-tempat="{{.Tempat}}"
                                            data-kondisi="{{.Kondisi}}">
                                        BR-{{.ID}}
                                    </option>
                                    {{end}}
                                </select>
                            </div>

                            <div class="col-md-8">
                                <label class="form-label">
                                    Nama Barang
                                </label>

                                <input 
                                    type="text"
                                    id="namaBarang"
                                    class="form-control"
                                    readonly>
                            </div>
                        </div>
                    
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="form-label">
                                    Tempat
                                </label>

                                <input 
                                    type="text"
                                    id="tempatBarang"
                                    class="form-control"
                                    readonly>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">
                                    Kondisi
                                </label>

                                <input 
                                    type="text"
                                    id="kondisiBarang"
                                    class="form-control"
                                    readonly>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="form-label">
                                    Jumlah Masuk
                                </label>

                                <input 
                                    type="number"
                                    name="jumlah"
                                    class="form-control"
                                    required>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">
                                    Tanggal
                                </label>

                                <input 
                                    type="date"
                                    name="tanggal"
                                    class="form-control"
                                    required>
                            </div>
                        </div>

                        <div class="mt-4">
                            <button 
                                type="submit"
                                class="btn btn-success">
                                Simpan
                            </button>
                        </div>
                        
                    </form>

                </div>
            </div>

            <div class="card shadow mt-4">
                <div class="card-body">
                    <h3>Riwayat Barang Masuk</h3>

                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Barang</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{range .RiwayatList}}

                            <tr>
                                <td>{{.Tanggal}}</td>
                                <td>{{.NamaBarang}}</td>
                                <td>
                                    <span class="badge bg-success">
                                        {{.Jumlah}}
                                    </span>                        
                                </td>
                            </tr>

                            {{end}}

                        </tbody>

                    </table>

                </div>
            </div>
        </div>    
    
    <script>
    function updateBarangInfo() {

        const select =
            document.getElementById("barangSelect");

        const option =
            select.options[select.selectedIndex];

        document.getElementById("namaBarang").value =
            option.dataset.nama;

        document.getElementById("tempatBarang").value =
            option.dataset.tempat;

        document.getElementById("kondisiBarang").value =
            option.dataset.kondisi;
    }

    document
        .getElementById("barangSelect")
        .addEventListener("change", updateBarangInfo);

    updateBarangInfo();
    </script>
    </body>

</html>
