<!DOCTYPE html>
<html>

    <head>
        
        <title>Sistem Inventaris Desa</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet">
        
        <style>
            body {
                background-color: #eef6ef;
            }
            .card{
                border:none;
                border-radius:12px;
            }
            .stat-card h2{
                font-weight: bold;
            }
        </style>

    </head>

    <body>
        <div class="container mt-5">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    
                    <h1 class="display-5">
                        Sistem Inventaris Desa
                    </h1>
                    
                    <p class="text-muted">
                        Kelola Data Inventaris Barang Desa
                    </p>
                    <hr>
                    
                    <div class="row mt-4">
                        
                        <div class="col-md-3 mb-3">
                            <div class="card shadow-sm h-100 stat-card">
                                <div class="card-body text-center">
                                    <h6 class="text-muted">
                                        Jenis Barang
                                    </h6>
                                    <h2>{{.TotalBarang}}</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <div class="card shadow-sm h-100 stat-card">
                                <div class="card-body text-center">
                                    <h6 class="text-muted">
                                        Total Stok
                                    </h6>
                                    <h2>{{.TotalStok}}</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <div class="card shadow-sm h-100 stat-card">
                                <div class="card-body text-center">
                                    <h6 class="text-muted">
                                        Barang Masuk
                                    </h6>
                                    <h2>{{.TotalMasuk}}</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <div class="card shadow-sm h-100 stat-card">
                                <div class="card-body text-center">
                                    <h6 class="text-muted">
                                        Barang Keluar
                                    </h6>
                                    <h2>{{.TotalKeluar}}</h2>
                                </div>
                            </div>
                        </div>
                    
                    </div>

                    <div class="text-center mt-4">

                        <a href="/barang"
                        class="btn btn-success btn-lg me-2">
                        Data Barang
                        </a>

                        <a href="/barang-masuk"
                        class="btn btn-primary btn-lg me-2">
                        Barang Masuk
                        </a>

                        <a href="/barang-keluar"
                        class="btn btn-danger btn-lg">
                        Barang Keluar
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </body>
    
</html>
