<!DOCTYPE html>
<html>
    <head>
        <title>Data Kategori</title>
    </head>

    <body>
        <h1>Data Kategori</h1>
        <a href="/kategori/tambah">
            Tambah Kategori
        </a>

        <br><br>

        <table border="1">
            <tr>
                <th>Kode</th>
                <th>Nama</th>
                <th>Aksi</th>
            </tr>

            {{range .}}
            <tr>
                <td>{{.Kode}}</td>
                <td>{{.Nama}}</td>
                <td>
                    <a href="/kategori/edit?id={{.ID}}">
                        Edit
                    </a>

                    |
                    <a href="/kategori/hapus?id={{.ID}}"
                        onclick="return confirm('Yakin ingin menghapus kategori ini?')"
                    >
                        Hapus
                    </a>
                </td>
            </tr>
            {{end}}

        </table>
    </body>
</html>