<!DOCTYPE html>
<html>
    <head>
        <title>Tambah Barang</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet">
        
        <style>
            body {
                background-color: #eef6ef;
            }
            .card{
                border:none;
                border-radius:12px;
            }
        </style>
    </head>
    
    <body>
        <div class="container mt-5">
            <div class="card shadow">
                <div class="card-body">
                    <h1>Tambah Barang</h1>
                    
                    <form method="POST">
                        
                        Nama Barang:<br>
                        <input 
                            type="text"
                            name="nama"
                            class="form-control"><br><br>

                        Jumlah:<br>
                        <input 
                            type="number" 
                            name="jumlah"
                            class="form-control"><br><br>

                        Lokasi:<br>
                        <input 
                            type="text"
                            name="lokasi"
                            class="form-control"><br><br>

                        Kondisi:<br>
                        <select 
                            name="kondisi" 
                            class="form-select">
                            <option>Baik</option>
                            <option>Rusak Ringan</option>
                            <option>Rusak Berat</option>
                        </select>

                        <br><br>

                        <button
                            class="btn btn-success"
                            type="submit">
                            Simpan
                        </button>

                        <a  href="/barang"
                            class="btn btn-secondary">
                            Kembali
                        </a>
                        
                    </form>

                </div>
            </div>
        </div>
    </body>

</html>